    body {
    margin: 0;
    overflow: hidden;
    background-color: #F5F5F5;
  }
  
  #name {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
  }