body {
    margin: 0;
  }
  
  .navigation-bar {
    height: 50px;
    width: 100%;
    background-color: #f0f0f0;
    position: fixed;
    top: 30px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    padding-left: 20px; /* Add left padding to create space for the circle */
  }
  
  .circle {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #f0f0f0;
    transition: transform 0.3s ease-in-out;
    margin-right: 10px; /* Add right margin to create space between circle and links */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .circle:hover {
    background-color: black;
    color: white;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  

  #image-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  #svg-image {
    width: 200px;
    height: 200px;
  }
  

  .nav-name {
    font-weight: bolder;
  }

  .section {
    fill: #f0f0f0;
    transition: fill 0.3s ease-in-out;
  }
  
  .section:hover {
    fill: black;
  }
  
  .nav-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .nav-links a {
    display: block;
    padding: 10px;
    color: #f0f0f0;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    color: black;
  }
  